/coverage/
/doc/
/docker-compose.override.yml
/Gemfile.lock
/log/
/pkg/
/spec/gemfiles/.bundle/
/spec/dummy/log/
/spec/dummy/tmp/
/spec/gemfiles/*.gemfile.lock
/inst-jobs-statsd-*.gem
/tmp/
/*.gem
/.byebug_history
