language: ruby
cache: bundler

rvm:
  - 3.2.0

gemfile:
  - spec/gemfiles/60.gemfile

addons:
  postgresql: '9.6'

before_install: gem update bundler
bundler_args: --jobs 3
install: bundle install --jobs 3

before_script:
  - psql -c 'create database "inst-jobs-test-1";' -U postgres

script:
  - bundle exec rake spec

env:
  - TEST_DB_USERNAME=postgres
